#nav>div{
    display:flex;
    margin:auto;
    width:960px;
    justify-content:center;
    flex:1;
    ul{
        display:flex;
        flex:1;
    }
    li{
        display:flex;
        list-style-type:none;
        flex:1;
        margin:auto;
        a{
            margin-right:28px;
            text-decoration:none;
        }
    }
}
a{
    color: rgba(238, 107, 135, 0.92);
    text-shadow:2px 2px 2px pink;
    text-transform: capitalize;
}
a:hover{
    border:2px solid pink;
    background-color: pink;
    color:white;
    border-radius: 8px;
}
#main{
    position:relative;
    top:-8px;
    width:960px;
    justify-content:center;
    margin:auto;
    color:black;
    h1{
        margin-top:4px;
        margin:auto;
        justify-content: center;
        text-align: center;
    }
    box-shadow: 2px 2px 8px pink;
}
#hobbies-workout{
    /*margin-top:88px;*/
    display:flex;
    flex:1;
    margin:auto;
    width:960px;
    flex-wrap:wrap;
    justify-content:center;
    p{
        width:388px;
        margin-top:48px;
        text-align:center;
    }
    position: relative;
    top:68px;
}
#hobbies1{
    background:url("backgroundd.jpg");
    width:940px;
    height:439px;
}
#hobbies-workout #img{
    background:url("pilates1.jpg");
    height:248px;
    width: 192px;
}
#hobbies-workout #img-workout{
    background:url("pilates2.jpg");
    height:248px;
    width: 200px;
}
#hobbies-shopping{
    /*margin-top:88px;*/
    display:flex;
    flex:1;
    margin:auto;
    width:960px;
    flex-wrap:wrap;
    justify-content:center;
    p{
        width:388px;
        margin-top:48px;
        text-align:center;
    }
    position: relative;
    top:68px;
}
#hobbies2{
    background:url("backgroundd.jpg");
    width:940px;
    height:439px;
}
#hobbies-shopping #img3{
    background:url("shopping.jpg");
    height:288px;
    width: 230px;
}
h1,h2{
    color: rgba(238, 107, 135, 0.92);
    text-shadow:2px 2px 2px pink;
}
