a{
    color: rgba(238, 107, 135, 0.92);
    text-shadow:2px 2px 2px pink;
    text-transform: capitalize;
}
a:hover{
    border:2px solid pink;
    background-color: pink;
    color:white;
    border-radius: 8px;
}
#nav>div{
    display:flex;
    margin:auto;
    width:960px;
    justify-content:center;
    flex:1;
    ul{
        display:flex;
        flex:1;
    }
    li{
        display:flex;
        list-style-type:none;
        flex:1;
        margin:auto;
        a{
            margin-right:28px;
            text-decoration:none;
        }
    }
}
#main{
    position:relative;
    top:-8px;
    width:960px;
    justify-content:center;
    margin:auto;
    color:black;
    h1{
        margin-top:4px;
        margin:auto;
        justify-content: center;
        text-align: center;
    }
    box-shadow: 2px 2px 8px pink;
    #voved{
        text-align:center;
    }
}
#gg,#suit,#friend,#dh{
    background:url("backgrounddd4.png") no-repeat;
    width:940px;
    height:439px;
    position:relative;
}
#suit{
    top:-20px;
}
#friend{
    top:-38px;
}
#dh{
    top:-60px;
}
#Gossipgirl,#suits,#friends,#desperatehousewifes{
    /*margin-top:88px;*/
    display:flex;
    flex:1;
    margin:auto;
    width:960px;
    flex-wrap:wrap;
    justify-content:center;
    p{
        width:388px;
        margin-top:28px;
        text-align:center;
        margin-right:20px;
    }
    position: relative;
    top:68px;
}
#image{
    background:url("gossipgirl.jpg") no-repeat;
    width:198px;
    height:288px;
    margin-top:-64px;
}
#image2{
    background:url("suits.jpg") no-repeat;
    width:196px;
    height:288px;
    margin-top:-64px;
}
#image3{
    background:url("friends.jpg") no-repeat;
    width:193px;
    height:288px;
    margin-top:-64px;
}
#image4{
    background:url("dh.jpg") no-repeat;
    width:162px;
    height:288px;
    margin-top:-64px;
}
h1,h2{
    color:#c8b6a6;
    text-shadow:4px 4px 2px pink;
}
h2{
    text-align:center;
    position: relative;
    top:48px;
    font-size:28px;
}