#nav>div{
    display:flex;
    margin:auto;
    width:960px;
    justify-content:center;
    flex:1;
    ul{
        display:flex;
        flex:1;
    }
    li{
        display:flex;
        list-style-type:none;
        flex:1;
        margin:auto;
         a{
            margin-right:28px;
            text-decoration:none;
        }
    }
}
#main{
    position:relative;
    top:-8px;
    width:960px;
    justify-content:center;
    margin:auto;
    color:black;
    h1{
        margin-top:4px;
        margin:auto;
        justify-content: center;
        text-align: center;
    }
}
#main>div:nth-child(3){
    display:flex;
    margin:auto;
    flex:1;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    #education,#interests,#moreaboutme,#vision{
        width:330px;
    }
}
#main #education #photo{
    background:url(education.jpg);
    width:300px;
    height:200px;
    background-position: center;
    background-repeat: no-repeat;
}
#photo1{
    background:url(educ1.jpg);
    width:300px;
    height:200px;
    background-position: center;
}
#main  #photo2{
    background:url(fashion.png);
    width:308px;
    height:408px;
    background-position: center;
    background-repeat: no-repeat;
}
#main{
    background:url(background.jpg);
    width:960px;
    height:1200px;
    background-position:0px -6px;
}
h1,h2,a{
    color: rgba(238, 107, 135, 0.92);
    text-shadow:2px 2px 2px pink;
}
a{
    text-transform: capitalize;
}
a:hover{
    border:2px solid pink;
    background-color: pink;
    color:white;
    border-radius: 8px;
}
#voved{
    p{
        text-align:center;
    }
}